<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="back_to_back" value=""/>
    <add key="bumpiness" value=""/>
    <add key="bumpiness_sq" value=""/>
    <add key="height" value=""/>
    <add key="top_half" value=""/>
    <add key="top_quarter" value=""/>
    <add key="jeopardy" value=""/>
    <add key="cavity_cells" value=""/>
    <add key="cavity_cells_sq" value=""/>
    <add key="overhang_cells" value=""/>
    <add key="overhang_cells_sq" value=""/>
    <add key="covered_cells" value=""/>
    <add key="covered_cells_sq" value=""/>
    <add key="tslot" value=""/>
    <add key="well_depth" value=""/>
    <add key="max_well_depth" value=""/>
    <add key="well_column" value=""/>
    <add key="b2b_clear" value=""/>
    <add key="clear1" value=""/>
    <add key="clear2" value=""/>
    <add key="clear3" value=""/>
    <add key="clear4" value=""/>
    <add key="tspin1" value=""/>
    <add key="tspin2" value=""/>
    <add key="tspin3" value=""/>
    <add key="mini_tspin1" value=""/>
    <add key="mini_tspin2" value=""/>
    <add key="perfect_clear" value=""/>
    <add key="combo_garbage" value=""/>
    <add key="move_time" value=""/>
    <add key="wasted_t" value=""/>
    <add key="mode" value=""/>
    <add key="use_hold" value=""/>
    <add key="min_nodes" value=""/>
  </appSettings>
</configuration>